<section class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card mb-4">
      <div class="card-block">
        <h3 class="card-title">Formulario de login</h3>

        <h6 class="card-subtitle mb-2 text-muted">Por favor, rellene todos los campos</h6>

        <form class="form-horizontal" action="">
          <fieldset>
            <!-- Email input-->
            <div class="form-group">
              <label class="col-12 control-label no-padding">Correo electrónico</label>
              <div class="col-12 no-padding">
                <input name="email" type="email" [(ngModel)]="correo" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-12 control-label no-padding">Contraseña</label>
              <div class="col-12 no-padding">
                <input class="form-control" type="password" [(ngModel)]="password" name="password"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-12 widget-right no-padding">
                <button type="button" class="btn btn-primary btn-md float-right" (click)="doLogin()">Entrar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
