<h2>
  Mis pedidos
  <button class="btn btn-link" (click)="cerrarSesion()">Cerrar sesión</button>
  <button class="btn btn-info" (click)="goToBocadillos()">Mis bocadillos</button>
</h2>
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let pedido of pedidos">
    <div class="card">
      <div class="card-header">{{pedido.horaRecogida}}
        <button class="btn btn-success" (click)="setCompletado(pedido._id)">
          Pedido completado
        </button>
      </div>
      <div class="card-block">
        <div *ngFor="let bocadillo of pedido.bocadillos">
          <h6 class="text-info">{{bocadillo.nombre}}</h6>
          <p>Salsa: {{bocadillo.salsa}}</p>
          <p *ngIf="bocadillo.refresco">Con refresco</p>
          <p *ngIf="bocadillo.extraQueso">Con extra de queso</p>
          <hr>
        </div>
      </div>
      <div class="card-footer" [attr.id]="pedido._id">
        {{pedido.usuario.nombre}}, total: {{pedido.total | number : '1.2-2'}}€
      </div>
    </div>
  </div>
</div>
