<h2 xmlns="">
  Mis bocadillos
  <button class="btn btn-link" (click)="cerrarSesion()">Cerrar sesión</button>
  <button class="btn btn-info" (click)="goToPedidos()">Mis pedidos</button>
</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Imágen</th>
    <th>Bocadillo</th>
    <th>Precio</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bocadillo of myBocadillos">
    <td><img src="{{bocadillo.imagen}}" width="100" height="100"></td>
    <td>
      <h6>{{bocadillo.nombre}}</h6>
      Ingredientes:
      <p *ngFor="let ingrediente of bocadillo.ingredientes">{{ingrediente}}</p>
    </td>
    <td>{{bocadillo.precio}}€</td>
    <td>
      <button class="btn btn-warning" (click)="abrirModal(modalEditBocadillo); getBocadillo(bocadillo)"><span class="fa fa-pencil"></span> Editar</button>
      <hr>
      <button class="btn btn-danger" (click)="confirmarBorrado(bocadillo._id)"><span class="fa fa-trash-o"></span> Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
<hr>

<button class="btn btn-success" (click)="abrirModal(modalAddBocadillo)"><span class="fa fa-plus"></span> Añadir bocadillo</button>

<hr>

<p class="float-right">Copyright Ale Verano 2018</p>

<ng-template #modalEditBocadillo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Editar bocadillo</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="{{bocadillo.nombre}}" name="nombre">
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input type="number" min="0" class="form-control" [(ngModel)]="precio" placeholder="{{bocadillo.precio}}" name="precio">
      </div>
      <label>Ingredientes</label>
      <div class="form-group" *ngFor="let ingrediente of bocadillo.ingredientes; let i = index">
        <input type="text" class="form-control" [(ngModel)]="ingredientes[i]" placeholder="{{ingrediente}}" name="precio">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="editarBocadillo(bocadillo._id)">Aceptar</button>
  </div>
</ng-template>

<ng-template #modalAddBocadillo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Añadir bocadillo</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Imágen</label>
        <input type="file" (change)="selectFile($event)" class="form-control" name="imagen" [(ngModel)]="imagenBocadillo">
      </div>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input type="number" min="0" class="form-control" name="precio" [(ngModel)]="precio">
      </div>
      <label>Ingredientes</label>
        <input type="text" class="form-control" name="precio" [(ngModel)]="ingredientesNuevo[0]">
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!imagenBocadillo" (click)="addBocadillo()">Aceptar</button>
  </div>
</ng-template>
